.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

*, *::after, *::before {
  box-sizing:border-box;
}

body{
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2,4rem);
  grid-template-rows: 7rem 7rem 7rem;
  gap: .5rem;
  cursor: pointer;
  justify-content: center;
  padding-top: 1rem;
  font-size: 1rem;
  user-select: none;
}

.deck {
  height: 100%;
  width: 100%;
  border: 1px solid black;
}

.card.curr {
  color: red;
}
.card {
  position: relative;
  height:100%;
  width: 100%;
  border: 1px solid black;
  border-radius: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
}

.card::before,.card::after {
  position: absolute;
  content: attr(data-value);
  font-size:1rem;
}

.card::before {
  top:.5rem;
  left:.5rem;
}
.card::after {
  bottom:.5rem;
  right:.5rem;
  transform: rotate(180deg) ;

}
